<div [ngClass]="{'center-calc': centerXY}" [ngStyle]="{'width': maxWidth}" class="calculator">

  <label>
    <input type="text" class="calculator-screen" [value]="currentOperand" disabled/>
    <span [ngClass]="{'current-operator': showOperatorOnScreen, 'current-operator-back': !showOperatorOnScreen}"
          class="current-operator">{{operator}}</span>
  </label>

  <div class="calculator-keys">

    <app-calculator-button (output)="operatiorClick($event)" classList="calc-button operator"
                           logicVal="+"></app-calculator-button>
    <app-calculator-button (output)="operatiorClick($event)" classList="calc-button operator"
                           logicVal="-"></app-calculator-button>
    <app-calculator-button (output)="operatiorClick($event)" classList="calc-button operator" logicVal="*"
                           displayVal="&times;"></app-calculator-button>
    <app-calculator-button (output)="operatiorClick($event)" classList="calc-button operator" logicVal="/"
                           displayVal="&divide;"></app-calculator-button>

    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="7"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="8"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="9"></app-calculator-button>

    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="4"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="5"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="6"></app-calculator-button>

    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="1"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="2"></app-calculator-button>
    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="3"></app-calculator-button>

    <app-calculator-button (output)="decimalClick($event)" classList="calc-button" logicVal="0"></app-calculator-button>
    <app-calculator-button (output)="dotClick()" classList="calc-button decimal" logicVal="."></app-calculator-button>
    <app-calculator-button (output)="clearAll()" classList="calc-button all-clear" logicVal="all-clear"
                           displayVal="AC"></app-calculator-button>

    <app-calculator-button class="equal-sign-grid-wrapper" (output)="operatiorClick($event)"
                           classList="calc-button equal-sign" logicVal="="></app-calculator-button>

  </div>
</div>
