@import "color-scheme";
:host {
  .center-calc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .calculator {
    .calculator-screen {
      width: 100%;
      font-size: 4rem;
      height: 9rem;
      border: none;
      background-color: $screen_bg_color;
      border-radius: 10px;
      box-shadow: -6px -6px 10px $light_shadow_color, -6px -10px 15px $light_shadow_color, -20px 0px 30px $light_shadow_color, 6px 20px 25px $dark_shadow_color;
      color: white;
      text-align: right;
      padding-right: 20px;
      padding-left: 10px;
    }

    .current-operator {
      position: absolute;
      left: 20px;
      top: 3rem;
      z-index: 2;
      color: $operator_color;
      font-size: 50px;
    }

    .current-operator-back {
      position: absolute;
      left: 20px;
      z-index: -1;
      color: $operator_color;
      font-size: 50px;
    }


    ::ng-deep.calc-button:focus {
      outline: 0;
      color: $btn_color;
    }


    ::ng-deep.operator {
      color: $operator_color;
    }


    ::ng-deep.all-clear {
      color: $clear_all_color;
    }

    ::ng-deep.equal-sign {
      color: $operator_color;
      height: 100%;
    }

    ::ng-deep.equal-sign-grid-wrapper {
      grid-area: 2 / 4 / 6 / 5
    }

    ::ng-deep.calculator-keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      padding-top: 20px;
    }
  }


}
